@model Vidly.ViewModels.CustomerViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (@Model.Customers.Count() > 0)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Membership Type</th>
                <th scope="col">Discount Rate</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cus in @Model.Customers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(cus.Name, "details", new { Id = cus.Id })
                    </td>
                    <td>
                        @cus.MembershipType.Type
                    </td>
                    <td>
                        @cus.MembershipType.DiscountRate%
                    </td>
                    <td>@Html.ActionLink("Edit", "Edit", new { Id = cus.Id })</td>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink("Add New", "New")
}
else
{
    <p>Currently don't have any customers</p>
}